<div class="container">
    <div class="card">
        <div class="face face1">
            <div class="content">
                <div class="icon">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <h3>
                    <a href="https://www.youtube.com/watch?v=boId0HudxYI" target="_blank">mohkelmohamady</a>
                </h3>
                <p>This is where I try to show off my experience</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <div class="icon">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <h3>
                    <a href="https://twitter.com/mohkelmohamady" target="_blank">@MohKElMohamady</a>
                </h3>
                <p>This is where I waste my time, swapping through senseless tweets filled with arguements of people from the left and the right</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <div class="icon">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <h3>
                    <a href="https://github.com/mohkelmohamady" target="_blank">mohkelmohamady</a>
                </h3>
                <p>This is where I try as much as possible to cope with my anxiety and imposter syndrome by creating new projects and contributing daily to my them.</p>
            </div>
        </div>
    </div>
</div>