#homeVideo {
    position: fixed;
    min-width: 1000px;
    width: 100vw;
    min-height: 100px;
  }
  
  /* Add some content at the bottom of the video/page */
 .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 40px;
  }
  *{
    font-family: mostWanted;
    font-size: 40pt;
}  